@charset "UTF-8";

/* myReset:Start*/

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
button,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    color: #000;
    height: 100%;
    line-height: 1;
    font: normal 100% Cambria, Georgia, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin: 0 0 20px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1.12em;
}

h5 {
    font-size: .83em;
}

h6 {
    font-size: .75em;
}

a,
a:hover,
a:focus {
    outline: none;
    color: #000;
}

.decoration-none,
.decoration-none a {
    text-decoration: none;
}

ul,
p {
    padding: 0;
    margin-bottom: 20px;
}

img {
    border-style: none;
    outline: none;
    max-width: 100%;
}

input,
textarea,
button,
.slick-slide {
    outline: none;
}

strong {
    font-weight: bold;
}

label {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clearfix:after,
.site-header:after,
.wrapper .myContainer:after {
    display: block;
    content: '';
    clear: both;
}

.alignright {
    float: right;
}

.alignleft {
    float: left;
}

.text-center {
    text-align: center;
}

.list-style-none,
.list-style-none ul {
    list-style: none;
}


/* END:myReset */

@font-face {
    font-family: 'OpenSans-Bold';
    src: url("../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.svg#svgFontName") format("svg");
    /* Legacy iOS */
}

@font-face {
    font-family: 'OpenSans-Extrabold';
    src: url("../fonts/OpenSans/OpenSans-Extrabold/OpenSans-Extrabold.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/OpenSans/OpenSans-Extrabold/OpenSans-Extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Extrabold/OpenSans-Extrabold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Extrabold/OpenSans-Extrabold.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Extrabold/OpenSans-Extrabold.svg#svgFontName") format("svg");
    /* Legacy iOS */
}

@font-face {
    font-family: 'Ubuntu-Regular';
    src: url("../fonts/Ubuntu/Ubuntu-Regular/Ubuntu-Regular.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/Ubuntu/Ubuntu-Regular/Ubuntu-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu/Ubuntu-Regular/Ubuntu-Regular.woff") format("woff"), url("../fonts/Ubuntu/Ubuntu-Regular/Ubuntu-Regular.ttf") format("truetype"), url("../fonts/Ubuntu/Ubuntu-Regular/Ubuntu-Regular.svg#svgFontName") format("svg");
    /* Legacy iOS */
}

@font-face {
    font-family: 'Ubuntu-Medium';
    src: url("../fonts/Ubuntu/Ubuntu-Medium/Ubuntu-Medium.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/Ubuntu/Ubuntu-Medium/Ubuntu-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu/Ubuntu-Medium/Ubuntu-Medium.woff") format("woff"), url("../fonts/Ubuntu/Ubuntu-Medium/Ubuntu-Medium.ttf") format("truetype"), url("../fonts/Ubuntu/Ubuntu-Medium/Ubuntu-Medium.svg#svgFontName") format("svg");
    /* Legacy iOS */
}

a,
.section4 .slider-block-nav .slider-nav .slick-dots li.slick-active button {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.wrapper .left-col,
.wrapper .left-col .inner,
.section0 .slider-block .slider-list .slick-dots {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.section0 .slider-block .slider-list,
.section0 .slider-block .slider-list .slick-list,
.section0 .slider-block .slider-list .slick-list li,
.section0 .slider-block .slider-list .slick-list li img,
.section4 .slider-block-for,
.section4 .slider-block-for .slick-slider,
.section4 .slider-block-for .slick-list,
.section4 .slider-block-for .slick-list .slick-track,
.section4 .slider-block-for .slick-list .slick-track li,
.section4 .slider-block-for img {
    height: 100%;
}

body {
    color: #fff;
    font-family: 'Ubuntu-Regular';
    background-color: #171616;
}

a {
    color: #fff;
}

a:hover {
    color: rgba(255, 255, 255, 0.5);
}

a:focus {
    color: #fff;
}


/*site-header*/

.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 59px;
    z-index: 1;
}

.site-header .main-nav {
    float: right;
    margin-right: 3.645833333333333%;
}

.site-header .main-nav .nav-list {
    margin-bottom: 0;
}

.site-header .main-nav .nav-list li {
    float: left;
    margin-right: 50px;
}

.site-header .main-nav .nav-list li:last-child {
    margin-right: 0;
}

.site-header .main-nav .nav-list li.active a:after {
    position: absolute;
    content: "";
    height: 1px;
    background-color: #fff;
    width: 120%;
    margin-left: -110%;
    top: 50%;
}

.site-header .main-nav .nav-list li a {
    position: relative;
    font-family: 'Ubuntu-Regular';
    font-size: 14px;
    text-decoration: none;
    line-height: 48px;
    letter-spacing: 0.182em;
}


/*site-header*/


/*nav-sidebar*/

.nav-sidebar {
    position: fixed;
    height: 100%;
    z-index: 1;
    background-color: #171616;
    padding-top: 65px;
    padding-left: 3.645833333333333%;
}

.nav-sidebar .site-title {
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    letter-spacing: 0.6em;
    margin-bottom: 125px;
}

.nav-sidebar .site-title a {
    display: block;
    text-decoration: none;
}

.nav-sidebar .site-title a img {
    width: 80px;
    height: 90px;
}

.nav-sidebar .main-nav .nav-list li {
    margin-bottom: 46px;
    margin-left: 4px;
}

.nav-sidebar .main-nav .nav-list li:last-child {
    margin-bottom: 0;
}

.nav-sidebar .main-nav .nav-list li a {
    display: block;
    font-family: 'OpenSans-Extrabold';
    font-size: 14px;
    text-decoration: none;
    line-height: 48px;
    letter-spacing: 0.3em;
    color: #504d4d;
}

.nav-sidebar .main-nav .nav-list li:hover a {
    color: #fff;
}

.nav-sidebar .main-nav .nav-list li.active {
    margin-left: 0;
}

.nav-sidebar .main-nav .nav-list li.active:before {
    content: '— ';
    font-size: 30px;
    letter-spacing: 0em;
    color: #504d4d;
    display: inline-block;
    vertical-align: middle;
    margin-top: 7px;
    margin-right: 21px;
}

.nav-sidebar .main-nav .nav-list li.active a {
    display: inline-block;
    font-size: 45px;
    letter-spacing: 0.2em;
    vertical-align: middle;
    color: #fff;
}


/*END:nav-sidebar*/


/*wrapper*/

.wrapper .myContainer {
    position: relative;
    max-width: 1777px;
    margin: 0 auto;
}

.wrapper .section .section-title {
    font-family: 'OpenSans-Extrabold';
    line-height: 48px;
    letter-spacing: 0.05em;
    margin-left: -7px;
    color: #292828;
}

.wrapper .section .section-sub-title {
    font-family: 'OpenSans-Extrabold';
    letter-spacing: 0.05em;
    color: #312f2f;
}

.wrapper .left-col {
    position: absolute;
    top: 50%;
    left: 0;
    width: 50%;
    height: 100%;
    padding-left: 13.95833333333333%;
    z-index: 101;
    background-color: #171616;
}

.wrapper .left-col .inner {
    position: absolute;
    top: 50%;
}

.wrapper .left-col .inner .description {
    font-family: 'Ubuntu-Regular';
}


/*END:wrapper*/


/*section0*/

.section0 .section-title {
    font-size: 80px;
    margin-bottom: -8px;
}

.section0 .description {
    font-size: 22px;
    line-height: 44px;
    letter-spacing: 0.15em;
}

.section0 .description p {
    margin-bottom: 0;
}

.section0 .slider-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section0 .slider-block .slider-list .slick-list .slick-track {
    height: 100%;
}

.section0 .slider-block .slider-list .slick-list li img {
    width: 100%;
}

.section0 .slider-block .slider-list .slick-dots {
    position: absolute;
    top: 53.2%;
    right: 3.345833%;
    margin-bottom: 0;
    z-index: 101;
}

.section0 .slider-block .slider-list .slick-dots:before {
    position: relative;
    top: 0;
    left: 0;
    content: '';
    display: block;
    width: 38px;
    height: 29px;
    padding: 50px;
    margin-bottom: 16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: inset 0px 0px 4px #514F4F;
    -moz-box-shadow: inset 0px 0px 4px #514F4F;
    box-shadow: inset 0px 0px 4px #514F4F;
    background-image: url(../img/section0/cup.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.section0 .slider-block .slider-list .slick-dots li {
    text-align: center;
    cursor: pointer;
    margin-bottom: 19px;
}

.section0 .slider-block .slider-list .slick-dots li:last-child {
    margin-bottom: 0;
}

.section0 .slider-block .slider-list .slick-dots li.slick-active button {
    background-image: url(../img/section0/dot-active0.png);
}

.section0 .slider-block .slider-list .slick-dots li button {
    display: inline-block;
    width: 14px;
    height: 14px;
    text-indent: -9999px;
    cursor: pointer;
    background: none;
    background-image: url(../img/section0/dot0.png);
    background-repeat: no-repeat;
    background-position: center center;
}


/*END:section0*/


/*section1*/

.section1 {
    background-image: url(../img/section1/section1-bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 26%;
}

.section1:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 25, 25, 0.38);
    /* layer fill content */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSIxMTQuNSUiIHkxPSI1MCUiIHgyPSItMTQuNSUiIHkyPSI1MCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDAwIiBzdG9wLW9wYWNpdHk9IjAuMzgiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
    /* gradient overlay */
    background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0.38) -14.5%, transparent 114.5%);
    /* gradient overlay */
    background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.38) -14.5%, transparent 114.5%);
    /* gradient overlay */
    background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.38) -14.5%, transparent 114.5%);
    /* gradient overlay */
    background-image: -webkit-gradient(linear, right top, left top, color-stop(-14.5%, rgba(0, 0, 0, 0.38)), color-stop(114.5%, transparent));
    background-image: linear-gradient(right, rgba(0, 0, 0, 0.38) -14.5%, transparent 114.5%);
    /* gradient overlay */
}

.section1 .section-title {
    font-size: 70px;
    margin-bottom: 35px;
}

.section1 .description {
    width: 83.7%;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.025em;
}

.section1 .description p {
    margin-bottom: 40px;
}


/*END:section1*/


/*section2*/

.section2 .left-col {
    width: 100%;
    height: auto;
    float: none;
    top: 55.5%;
}

.section2 .left-col .inner {
    position: static;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.section2 .section-title {
    font-size: 70px;
    margin-bottom: 35px;
}

.section2 .description {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.025em;
    margin-bottom: 70px;
}

.section2 .description p {
    margin-bottom: 40px;
}

.section2 .slider-block .slider-list li {
    float: left;
    width: 410px;
    margin-right: 46px;
}

.section2 .slider-block .slider-list .slick-dots {
    position: absolute;
    top: -46px;
    right: 3.645833333333333%;
}

.section2 .slider-block .slider-list .slick-dots li {
    width: 14px;
    height: 14px;
    text-indent: -9999px;
    margin-right: 13px;
    cursor: pointer;
    background-image: url(../img/section2/dot2.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.section2 .slider-block .slider-list .slick-dots li:last-child {
    margin-right: 0;
}

.section2 .slider-block .slider-list .slick-dots li.slick-active {
    background-image: url(../img/section2/dot-active2.png);
}


/*END:section2*/


/*section3*/

.section3 .left-col {
    width: 100%;
    top: 51.700000000000003%;
}

.section3 .left-col .inner {
    width: 100%;
}

.section3 .section-title {
    font-size: 70px;
    margin-bottom: 68px;
}

.section3 .block-title {
    color: #cfcece;
    font-family: 'OpenSans-ExtraBold';
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.05em;
    margin-bottom: 43px;
}

.section3 .left-block {
    float: left;
    margin-right: 3.322917%;
    width: 40.447916999999997%;
}

.section3 .right-block {
    float: left;
    width: 46%;
}

.section3 .right-block .partners-list li {
    margin-right: 0;
}

.section3 .partners-list {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

.section3 .partners-list li {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.025em;
    margin-bottom: 32px;
}

.section3 .partners-list li:nth-child(n+5) {
    margin-right: 0;
}

.section3 .partners-list li a {
    display: block;
    color: #cfcece;
}

.section3 .partners-list li a .item-title {
    display: block;
}

.section3 .partners-list li a .link-text {
    color: #504c4c;
}


/*END:section3*/


/*section4*/

.section4 {
    /*slider-block-nav*/
    /*END:slider-block-nav*/
    /*slider-block-for*/
    /*slider-block-for*/
}

.section4 .left-col .inner {
    top: 27%;
}

.section4 .section-title {
    font-size: 80px;
    line-height: 60px;
    letter-spacing: 0.05em;
    margin-bottom: 1px;
}

.section4 .section-sub-title {
    float: right;
    display: block;
    font-size: 40px;
    line-height: 60px;
}

.section4 .slider-block-nav {
    position: absolute;
    top: 100%;
    width: 100%;
    margin-top: 55px;
}

.section4 .slider-block-nav .slider-nav .title {
    font-family: 'OpenSans-ExtraBold';
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #cfcece;
}

.section4 .slider-block-nav .slider-nav li .description {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.025em;
}

.section4 .slider-block-nav .slider-nav .slick-dots {
    margin-bottom: 0;
    margin-top: 55px;
    margin-left: 4px;
}

.section4 .slider-block-nav .slider-nav .slick-dots li {
    display: inline-block;
    margin-right: 35px;
    cursor: pointer;
}

.section4 .slider-block-nav .slider-nav .slick-dots li:last-child {
    margin-right: 0;
}

.section4 .slider-block-nav .slider-nav .slick-dots li button {
    cursor: pointer;
}

.section4 .slider-block-nav .slider-nav .slick-dots li.slick-active {
    position: relative;
}

.section4 .slider-block-nav .slider-nav .slick-dots li.slick-active:after {
    position: relative;
    content: '';
    left: 11.5px;
    display: inline-block;
    font-family: 'Ubuntu-Medium';
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.025em;
    width: 13px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.55);
    top: -2px;
}

.section4 .slider-block-nav .slider-nav .slick-dots li.slick-active:last-child:after {
    display: none;
}

.section4 .slider-block-nav .slider-nav .slick-dots li.slick-active button {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #afafaf;
    color: #b7b7b7;
    cursor: pointer;
}

.section4 .slider-block-nav .slider-nav .slick-dots li button {
    width: 37px;
    height: 37px;
    font-family: 'Ubuntu-Medium';
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.025em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #171616;
    color: #cfcece;
    background: none;
}

.section4 .slider-block-for {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section4 .slider-block-for .slick-slider {
    margin-bottom: 0;
}

.section4 .slider-block-for img {
    float: right;
}


/*END:section4*/


/*section5*/

.section5 .left-col {
    width: 37%;
}

.section5 .left-col .inner {
    top: 36%;
    width: 100%;
}

.section5 .section-title {
    font-size: 70px;
    margin-bottom: 35px;
}

.section5 .description {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.025em;
    margin-bottom: 35px;
    color: #cfcece;
}

.section5 .contacts-block .contacts-list li {
    position: relative;
    float: left;
    margin-right: 82px;
    margin-bottom: 25px;
}

.section5 .contacts-block .contacts-list li:last-child {
    margin-right: 0;
}

.section5 .contacts-block .contacts-list li:before {
    position: relative;
    left: 0;
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 33px;
    height: 33px;
    margin-right: 23px;
}

.section5 .contacts-block .contacts-list li a {
    text-decoration: none;
    color: #cfcece;
    background-repeat: no-repeat;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.025em;
}

.section5 .contacts-block .contacts-list li.phone:before {
    background-image: url(../img/section5/phone.png);
}

.section5 .contacts-block .contacts-list li.vk:before {
    background-image: url(../img/section5/vk.png);
}


/*END:section5*/

@media screen and (max-width: 1840px) {
    .site-header {
        padding-top: 12px;
    }
    .nav-sidebar {
        padding-top: 20px;
    }
    .nav-sidebar .site-title {
        margin-bottom: 78px;
    }
    .section3 .partners-list li {
        margin-right: 22px;
    }
    .section3 .partners-list li .link-text {
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
    }
    .section3 .left-block {
        width: 35%;
        margin-right: 10%;
    }
    .section3 .right-block {
        width: 39%;
    }
    .section3 .right-block .partners-list li {
        margin-right: 22px;
    }
}

@media screen and (max-width: 1600px) {
    body .wrapper .section .section-title {
        font-size: 50px;
    }
    body .wrapper .left-col .inner .description {
        font-size: 16px;
        line-height: 24px;
    }
    .nav-sidebar .main-nav .nav-list li.active:before {
        font-size: 17px;
        margin-right: 16px;
        margin-top: -1px;
    }
    .nav-sidebar .main-nav .nav-list li.active a {
        font-size: 32px;
    }
    .nav-sidebar .main-nav .nav-list li {
        margin-bottom: 36px;
    }
    .section4 .left-col .inner {
        width: 50%;
    }
    .section4 .left-col .inner .section-sub-title {
        float: none;
    }
    .section4 .slider-block-nav {
        margin-top: 15px;
    }
    .section4 .slider-block-nav .slider-nav .title {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .section2 .slider-block .slider-list li {
        width: 290px;
    }
    .section3 .block-title {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .section3 .section-title {
        margin-bottom: 35px;
    }
    .section3 .partners-list li {
        font-size: 15px;
    }
    .section4 .slider-block-nav .slider-nav .slick-dots {
        margin-top: 0;
    }
}

@media screen and (max-width: 1400px) {
    .section4 .slider-block-nav .slider-nav .slick-dots li {
        margin-right: 12px;
    }
    .section4 .slider-block-nav .slider-nav .slick-dots {
        display: none !important;
    }
    .section5 .left-col .inner {
        top: 44%;
    }
}

@media screen and (max-width: 1200px) {
    .wrapper .section2 {
        margin-bottom: 75px;
    }
    .nav-sidebar .site-title {
        font-size: 15px;
    }
    .site-header {
        z-index: 999;
        left: 0;
        width: auto;
        padding-left: 3.645833333333333%;
    }
    .site-header .main-nav {
        float: none;
    }
    .site-header .main-nav .nav-list li {
        float: none;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .site-header .main-nav .nav-list li:last-child {
        margin-bottom: 0;
    }
    .site-header .main-nav .nav-list li a {
        line-height: initial;
    }
    .nav-sidebar {
        background-color: transparent;
        display: none;
    }
    .nav-sidebar .main-nav {
        display: none;
    }
    .wrapper .left-col {
        width: 100%;
        height: auto;
    }
    .wrapper .left-col .inner {
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .wrapper .section {
        display: block;
        height: auto !important;
    }
    .wrapper .section.section1 .section-title {
        color: #fff;
    }
    .wrapper .section2 .left-col .inner {
        top: 0;
        -webkit-transform: initial;
        -moz-transform: initial;
        -ms-transform: initial;
        -o-transform: initial;
        transform: initial;
    }
    .wrapper .section4 .slider-block-for img {
        width: 100%;
    }
    .section0 .slider-block .slider-list .slick-dots {
        top: 51%;
    }
    .section0 .slider-block .slider-list .slick-dots:before {
        display: none;
    }
    .section5 .left-col {
        width: 100%;
        text-align: center;
    }
    .section5 .contacts-block .contacts-list li {
        float: none;
        display: block;
        margin-right: 0px;
    }
    .section3 .left-col .inner {
        width: 100%;
    }
    .slick-list img {
        -o-object-fit: cover;
        object-fit: cover;
    }
    .wrapper .section .section-title,
    .wrapper .section .section-sub-title {
        color: #fff;
    }
    .section3 .partners-list {
        height: auto;
        -webkit-column-count: initial;
        -moz-column-count: initial;
        column-count: initial;
        display: inline-block;
    }
    .section3 .fp-tableCell {
        display: block;
        text-align: center;
        height: auto !important;
    }
    .section3 .left-block {
        float: none;
        width: 100%;
    }
    .section3 .right-block {
        float: none;
        width: 100%;
    }
    .section3 .right-block .partners-list li {
        margin-right: 0;
    }
    .section3 .left-col .inner {
        left: 0;
        -webkit-transform: initial;
        -moz-transform: initial;
        -ms-transform: initial;
        -o-transform: initial;
        transform: initial;
        position: relative;
    }
    .section3 .left-col {
        position: relative;
        top: 0;
        left: auto;
        -webkit-transform: initial;
        -moz-transform: initial;
        -ms-transform: initial;
        -o-transform: initial;
        transform: initial;
        padding-left: 0;
    }
    .fp-tableCell {
        display: block !important;
    }
    .section4 .slider-block-nav {
        position: relative;
    }
    body .wrapper .section .section-title {
        font-size: 36px;
    }
    body .wrapper .section .section-sub-title {
        font-size: 26px;
    }
    .wrapper .section2 .left-col .inner {
        padding-left: 0;
    }
    .section2 .slider-block .slider-list .slick-dots {
        display: none !important;
    }
    .section3 .partners-list li {
        margin-right: 0;
    }
}

@media screen and (max-width: 980px) {
    .section0 .slider-block {
        position: relative;
        height: auto;
    }
    .section2 {
        margin-bottom: 75px;
    }
    .section5 .left-col .inner {
        width: 95%;
        margin: 0 auto;
    }
    .wrapper .left-col .inner {
        width: 96%;
        text-align: center;
        margin: 0 auto;
    }
    .section1 .description {
        width: 95%;
        margin: 0 auto;
    }
    .section0 .fp-tableCell {
        height: auto !important;
    }
    .site-header .main-nav .nav-list li.active a:after {
        display: none;
    }
    .site-header .main-nav .nav-list li.active a {
        color: rgba(255, 255, 255, 0.5);
    }
}

@media screen and (max-width: 760px) {
    .wrapper .section0 .left-col .inner {
        display: none;
    }
    .site-header .main-nav .nav-list li a {
        font-size: 11px;
    }
    .section0 .slider-block .slider-list .slick-dots {
        display: none !important;
    }
    .section5 .contacts-block .contacts-list li:before {
        display: block;
        margin: 0 auto 14px;
    }
    .wrapper .section2 .left-col {
        width: 95%;
        margin: 0 auto;
        padding-left: 0;
    }
}

@media screen and (max-width: 410px) {
    .site-header .main-nav .nav-list li a {
        font-size: 9px;
    }
    body .wrapper .section .section-title {
        font-size: 21px;
        margin-bottom: 15px;
        line-height: initial;
        padding-top: 22px;
    }
    body .wrapper .left-col .inner .description {
        font-size: 14px;
    }
    .section3 .block-title {
        font-size: 16px;
    }
    .section3 .partners-list li a {
        font-size: 14px;
    }
    body .wrapper .section .section-sub-title {
        font-size: 16px;
        line-height: initial;
        margin-bottom: 65px;
    }
    .section4 .slider-block-nav .slider-nav .title {
        font-size: 16px;
    }
}

@media screen and (max-width: 640px) and (max-height: 365px) {
    .wrapper .section.section1 .section-title {
        font-size: 16px;
        line-height: initial;
    }
    .wrapper .section1 .fp-tableCell {
        height: auto !important;
    }
    .wrapper .section1 .left-col {
        position: relative;
        -webkit-transform: initial;
        -moz-transform: initial;
        -ms-transform: initial;
        -o-transform: initial;
        transform: initial;
        padding-left: 0;
        margin-bottom: 135px;
    }
    .wrapper .section1 .left-col .inner {
        position: relative;
        -webkit-transform: initial;
        -moz-transform: initial;
        -ms-transform: initial;
        -o-transform: initial;
        transform: initial;
        top: auto;
        left: auto;
        margin: 0 auto;
        text-align: center;
    }
    .wrapper .section3 {
        margin-top: 85px;
    }
    .wrapper .section4 .left-col {
        position: relative;
        top: 0;
        left: 0;
        -webkit-transform: initial;
        -moz-transform: initial;
        -ms-transform: initial;
        -o-transform: initial;
        transform: initial;
        padding-left: 0;
    }
    .wrapper .section4 .left-col .inner {
        position: relative;
        top: 0;
        -webkit-transform: initial;
        -moz-transform: initial;
        -ms-transform: initial;
        -o-transform: initial;
        transform: initial;
        left: 0;
    }
}

@media screen and (max-width: 380px) {
    .section1 {
        background-image: none;
    }
    .wrapper .section1 .left-col {
        padding-left: 0;
    }
    .wrapper .section1 .left-col .inner {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 auto;
        -webkit-transform: initial;
        -moz-transform: initial;
        -ms-transform: initial;
        -o-transform: initial;
        transform: initial;
    }
    .wrapper .section2 {
        margin-top: 55px;
    }
    .wrapper .section4 .fp-tableCell {
        margin-bottom: 35px;
    }
    .wrapper .section4 .left-col .inner .section-title {
        margin-top: 15px;
    }
    .wrapper .section4 .left-col .inner .section-sub-title {
        margin-bottom: -3px;
    }
    .wrapper .section5 {
        margin-top: 55px;
    }
}

@media screen and (max-width: 570px) and (max-height: 322px) {
    .wrapper .section4 .fp-tableCell {
        height: auto !important;
    }
}