@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'OpenSans-Extrabold';
    src: url('../fonts/OpenSans/OpenSans-Extrabold/OpenSans-Extrabold.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/OpenSans/OpenSans-Extrabold/OpenSans-Extrabold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/OpenSans/OpenSans-Extrabold/OpenSans-Extrabold.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/OpenSans/OpenSans-Extrabold/OpenSans-Extrabold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/OpenSans/OpenSans-Extrabold/OpenSans-Extrabold.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Ubuntu-Regular';
    src: url('../fonts/Ubuntu/Ubuntu-Regular/Ubuntu-Regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Ubuntu/Ubuntu-Regular/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Ubuntu/Ubuntu-Regular/Ubuntu-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Ubuntu/Ubuntu-Regular/Ubuntu-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Ubuntu/Ubuntu-Regular/Ubuntu-Regular.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Ubuntu-Medium';
    src: url('../fonts/Ubuntu/Ubuntu-Medium/Ubuntu-Medium.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Ubuntu/Ubuntu-Medium/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Ubuntu/Ubuntu-Medium/Ubuntu-Medium.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Ubuntu/Ubuntu-Medium/Ubuntu-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Ubuntu/Ubuntu-Medium/Ubuntu-Medium.svg#svgFontName') format('svg');
    /* Legacy iOS */
}