@media screen and (max-width: 1840px) {
    .site-header {
        padding-top: 12px;
    }
    .nav-sidebar {
        padding-top: 20px;
        .site-title {
            margin-bottom: 78px;
        }
    }
    .section3 {
        .partners-list {
            li {
                margin-right: 22px;
                .link-text {
                    @include text-elipsis;
                }
            }
        }
        .left-block {
            width: 35%;
            margin-right: 10%;
        }
        .right-block {
            width: 39%;
            .partners-list {
                li {
                    margin-right: 22px;
                }
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    body {
        .wrapper {
            .section {
                .section-title {
                    font-size: 50px;
                }
            }
            .left-col {
                .inner {
                    .description {
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
            }
        }
    }
    .nav-sidebar .main-nav .nav-list li.active:before {
        font-size: 17px;
        margin-right: 16px;
        margin-top: -1px;
    }
    .nav-sidebar .main-nav .nav-list li.active a {
        font-size: 32px;
    }
    .nav-sidebar .main-nav .nav-list li {
        margin-bottom: 36px;
    }
    .section4 {
        .left-col {
            .inner {
                width: 50%;
                .section-sub-title {
                    float: none;
                }
            }
        }
        .slider-block-nav {
            margin-top: 15px;
            .slider-nav {
                .title {
                    font-size: 20px;
                    margin-bottom: 10px;
                }
            }
        }
    }
    .section2 .slider-block .slider-list li {
        width: 290px;
    }
    .section3 .block-title {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .section3 .section-title {
        margin-bottom: 35px;
    }
    .section3 .partners-list li {
        font-size: 15px;
    }
    .section4 .slider-block-nav .slider-nav .slick-dots {
        margin-top: 0;
    }
}

@media screen and (max-width: 1400px) {
    .section4 .slider-block-nav .slider-nav .slick-dots li {
        margin-right: 12px;
    }
    .section4 .slider-block-nav .slider-nav .slick-dots {
        display: none !important;
    }
    .section5 .left-col .inner {
        top: 44%;
    }
}

@media screen and (max-width: 1200px) {
    .wrapper .section2 {
        margin-bottom: 75px;
    }
    .nav-sidebar .site-title {
        font-size: 15px;
    }
    .site-header {
        z-index: 999;
        left: 0;
        width: auto;
        padding-left: 3.645833333333333%;
        .main-nav {
            float: none;
            .nav-list {
                li {
                    float: none;
                    margin-right: 0;
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    a {
                        line-height: initial;
                    }
                }
            }
        }
    }
    .nav-sidebar {
        background-color: transparent;
        display: none;
        .main-nav {
            display: none;
        }
    }
    .wrapper {
        .left-col {
            width: 100%;
            height: auto;
            .inner {
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .section {
            display: block;
            height: auto !important;
        }
        .section.section1 {
            .section-title {
                color: #fff;
            }
        }
        .section2 .left-col .inner {
            top: 0;
            transform: initial;
        }
        .section4 .slider-block-for img {
            width: 100%;
        }
    }
    .section0 .slider-block .slider-list .slick-dots {
        top: 51%;
        :before {
            display: none;
        }
    }
    .section5 .left-col {
        width: 100%;
        text-align: center;
    }
    .section5 .contacts-block .contacts-list li {
        float: none;
        display: block;
        margin-right: 0px;
    }
    .section3 .left-col .inner {
        width: 100%;
    }
    .slick-list {
        img {
            object-fit: cover;
        }
    }
    .wrapper .section .section-title,
    .wrapper .section .section-sub-title {
        color: #fff;
    }
    .section3 .partners-list {
        height: auto;
        -webkit-column-count: initial;
        -moz-column-count: initial;
        column-count: initial;
        display: inline-block;
    }
    .section3 {
        .fp-tableCell {
            display: block;
            text-align: center;
            height: auto !important;
        }
    }
    .section3 .left-block {
        float: none;
        width: 100%;
    }
    .section3 .right-block {
        float: none;
        width: 100%;
    }
    .section3 .right-block .partners-list li {
        margin-right: 0;
    }
    .section3 .left-col .inner {
        left: 0;
        transform: initial;
        position: relative;
    }
    .section3 .left-col {
        position: relative;
        top: 0;
        left: auto;
        transform: initial;
        padding-left: 0;
    }
    .fp-tableCell {}
    .fp-tableCell {
        display: block !important;
    }
    .section4 .slider-block-nav {
        position: relative;
    }
    body .wrapper .section .section-title {
        font-size: 36px;
    }
    body .wrapper .section .section-sub-title {
        font-size: 26px;
    }
    .wrapper .section2 .left-col .inner {
        padding-left: 0;
    }
    .section2 .slider-block .slider-list .slick-dots {
        display: none !important;
    }
    .section3 .partners-list li {
        margin-right: 0;
    }
}

@media screen and (max-width: 980px) {
    .section0 .slider-block {
        position: relative;
        height: auto;
    }
    .section2 {
        margin-bottom: 75px;
    }
    .section5 .left-col .inner {
        width: 95%;
        margin: 0 auto;
    }
    .wrapper .left-col .inner {
        width: 96%;
        text-align: center;
        margin: 0 auto;
    }
    .section1 .description {
        width: 95%;
        margin: 0 auto;
    }
    .section0 {
        .fp-tableCell {
            height: auto !important;
        }
    }
    .site-header .main-nav .nav-list li.active a:after {
        display: none;
    }
    .site-header .main-nav .nav-list li.active a {
        color: rgba(255, 255, 255, 0.5);
    }
}

@media screen and (max-width: 760px) {
    .wrapper .section0 .left-col .inner {
        display: none;
    }
    .site-header .main-nav .nav-list li a {
        font-size: 11px;
    }
    .section0 .slider-block .slider-list .slick-dots {
        display: none !important;
    }
    .section5 .contacts-block .contacts-list li:before {
        display: block;
        margin: 0 auto 14px;
    }
    .wrapper .section2 .left-col {
        width: 95%;
        margin: 0 auto;
        padding-left: 0;
    }
}

@media screen and (max-width: 410px) {
    .site-header .main-nav .nav-list li a {
        font-size: 9px;
    }
    body .wrapper .section .section-title {
        font-size: 21px;
        margin-bottom: 15px;
        line-height: initial;
        padding-top: 22px;
    }
    body .wrapper .left-col .inner .description {
        font-size: 14px;
    }
    .section3 .block-title {
        font-size: 16px;
    }
    .section3 .partners-list li a {
        font-size: 14px;
    }
    body .wrapper .section .section-sub-title {
        font-size: 16px;
        line-height: initial;
        margin-bottom: 65px;
    }
    .section4 .slider-block-nav .slider-nav .title {
        font-size: 16px;
    }
}

@media screen and (max-width: 640px) and (max-height: 365px) {
    .wrapper .section.section1 .section-title {
        font-size: 16px;
        line-height: initial;
    }
    .wrapper {
        .section1 {
            .fp-tableCell {
                height: auto !important;
            }
            .left-col {
                position: relative;
                transform: initial;
                padding-left: 0;
                margin-bottom: 135px;
                .inner {
                    position: relative;
                    transform: initial;
                    top: auto;
                    left: auto;
                    margin: 0 auto;
                    text-align: center;
                }
            }
        }
        .section3 {
            margin-top: 85px;
        }
        .section4 {
            .left-col {
                position: relative;
                top: 0;
                left: 0;
                transform: initial;
                padding-left: 0;
                .inner {
                    position: relative;
                    top: 0;
                    transform: initial;
                    left: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 380px) {
	.section1{
		background-image: none;
	}
    .wrapper {
        .section1 {
            .left-col {
                padding-left: 0;
                .inner {
                    position: relative;
                    top: 0;
                    left: 0;
                    margin: 0 auto;
                    transform: initial;
                }
            }
        }
        .section2 {
            margin-top: 55px;
        }
        .section4 {
            .fp-tableCell {
                margin-bottom: 35px;
            }
            .left-col .inner .section-title {
                margin-top: 15px;
            }
            .left-col .inner .section-sub-title {
                margin-bottom: -3px;
            }
        }
        .section5 {
            margin-top: 55px;
        }
    }
}

@media screen and (max-width: 570px) and (max-height: 322px) {
    .wrapper {
        .section4 {
        	.fp-tableCell{
        		height: auto !important;
        	}
        }
    }
}
