/* myReset:Start*/
html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, button, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

main, article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body{
	color:#000;
	height: 100%;
	line-height:1;
	font: normal 100% Cambria, Georgia,serif;
}

h1,h2,h3,h4,h5,h6
{
	font-weight: bold;
	margin: 0 0 20px;
}

h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.17em;}
h4 {font-size: 1.12em;}
h5 {font-size: .83em;}
h6 {font-size: .75em;}

a,
a:hover,
a:focus
{
	outline:none; 
	color:#000;
}

.decoration-none,
.decoration-none a
{
	text-decoration:none;
}

ul,p
{
	padding: 0;
	margin-bottom: 20px;
}

img{
	border-style:none;
	outline:none;
	max-width:100%;
}

input,
textarea,
button,
.slick-slide
{
	outline: none;
}

strong{
	font-weight: bold;
}

label{
	cursor: pointer;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix{
	&:after{
		display: block;
		content: '';
		clear: both;
	}
}

.alignright{
	float: right;
}

.alignleft{
	float: left;
}

.text-center{
	text-align: center;
}

.list-style-none,
.list-style-none ul
{
	list-style: none;
}
/* END:myReset */

