    $contacts: phone,
    vk;
    /*section0*/
    
    .section0 {
        .section-title {
            font-size: 80px;
            margin-bottom: -8px;
        }
        .description {
            font-size: 22px;
            line-height: 44px;
            letter-spacing: 0.15em;
            p {
                margin-bottom: 0;
            }
        }
        .slider-block {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            .slider-list {
                @extend %height100;
                .slick-list {
                    @extend %height100;
                    .slick-track {
                        height: 100%;
                    }
                    li {
                        @extend %height100;
                        img {
                            width: 100%;
                            @extend %height100;
                        }
                    }
                }
                .slick-dots {
                    position: absolute;
                    top: 53.2%;
                    right: 3.345833%;
                    margin-bottom: 0;
                    z-index: 101;
                    @extend %translate-center-y;
                    &:before {
                        position: relative;
                        top: 0;
                        left: 0;
                        content: '';
                        display: block;
                        width: 38px;
                        height: 29px;
                        padding: 50px;
                        margin-bottom: 16px;
                        border-radius: 50%;
                        box-shadow: inset 0px 0px 4px #514F4F;
                        background-image: url(../img/section0/cup.png);
                        background-repeat: no-repeat;
                        background-position: center center;
                    }
                    li {
                        text-align: center;
                        cursor: pointer;
                        margin-bottom: 19px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        &.slick-active {
                            button {
                                background-image: url(../img/section0/dot-active0.png);
                            }
                        }
                        button {
                            display: inline-block;
                            width: 14px;
                            height: 14px;
                            text-indent: -9999px;
                            cursor: pointer;
                            background: none;
                            background-image: url(../img/section0/dot0.png);
                            background-repeat: no-repeat;
                            background-position: center center;
                        }
                    }
                }
            }
        }
    }
    /*END:section0*/
    /*section1*/
    
    .section1 {
        background-image: url(../img/section1/section1-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0 26%;
        &:after {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            @include background-image1;
        }
        .section-title {
            font-size: 70px;
            margin-bottom: 35px;
        }
        .description {
            width: 83.7%;
            font-size: 18px;
            line-height: 30px;
            letter-spacing: 0.025em;
            p {
                margin-bottom: 40px;
            }
        }
    }
    /*END:section1*/
    /*section2*/
    
    .section2 {
        .left-col {
            width: 100%;
            height: auto;
            float: none;
            top: 55.5%;
            .inner {
                position: static;
                transform: translateY(0);
            }
        }
        .section-title {
            font-size: 70px;
            margin-bottom: 35px;
        }
        .description {
            font-size: 18px;
            line-height: 30px;
            letter-spacing: 0.025em;
            margin-bottom: 70px;
            p {
                margin-bottom: 40px;
            }
        }
        .slider-block {
            .slider-list {
                li {
                    float: left;
                    width: 410px;
                    margin-right: 46px;
                }
                .slick-dots {
                    position: absolute;
                    top: -46px;
                    right: 3.645833333333333%;
                    li {
                        width: 14px;
                        height: 14px;
                        text-indent: -9999px;
                        margin-right: 13px;
                        cursor: pointer;
                        background-image: url(../img/section2/dot2.png);
                        background-repeat: no-repeat;
                        background-position: center center;
                        &:last-child {
                            margin-right: 0;
                        }
                        &.slick-active {
                            background-image: url(../img/section2/dot-active2.png);
                        }
                    }
                }
            }
        }
    }
    /*END:section2*/
    /*section3*/
    
    .section3 {
        .left-col {
            width: 100%;
            top: 51.700000000000003%;
            .inner {
                width: 100%;
            }
        }
        .section-title {
            font-size: 70px;
            margin-bottom: 68px;
        }
        .block-title {
            color: #cfcece;
            font-family: 'OpenSans-ExtraBold';
            font-size: 24px;
            line-height: 30px;
            letter-spacing: 0.05em;
            margin-bottom: 43px;
            ;
        }
        .left-block {
            float: left;
            margin-right: 3.322917%;
            width: 40.447916999999997%;
        }
        .right-block {
            float: left;
            width: 46%;
            .partners-list {
                li {
                    margin-right: 0;
                }
            }
        }
        .partners-list {
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
            li {
                font-size: 18px;
                line-height: 30px;
                letter-spacing: 0.025em;
                margin-bottom: 32px;
                &:nth-child(n+5) {
                    margin-right: 0;
                }
                a {
                    display: block;
                    color: #cfcece;
                    .item-title {
                        display: block;
                    }
                    .link-text {
                        color: #504c4c;
                    }
                }
            }
        }
    }
    /*END:section3*/
    /*section4*/
    
    .section4 {
        .left-col {
            .inner {
                top: 27%;
            }
        }
        .section-title {
            font-size: 80px;
            line-height: 60px;
            letter-spacing: 0.05em;
            margin-bottom: 1px;
        }
        .section-sub-title {
            float: right;
            display: block;
            font-size: 40px;
            line-height: 60px;
        }
        /*slider-block-nav*/
        .slider-block-nav {
            position: absolute;
            top: 100%;
            width: 100%;
            margin-top: 55px;
            .slider-nav {
                .title {
                    font-family: 'OpenSans-ExtraBold';
                    font-size: 24px;
                    line-height: 30px;
                    letter-spacing: 0.05em;
                    color: #cfcece;
                }
                li {
                    .description {
                        font-size: 18px;
                        line-height: 30px;
                        letter-spacing: 0.025em;
                    }
                }
                .slick-dots {
                    margin-bottom: 0;
                    margin-top: 55px;
                    margin-left: 4px;
                    li {
                        display: inline-block;
                        margin-right: 35px;
                        cursor: pointer;
                        &:last-child {
                            margin-right: 0;
                        }
                        button {
                            cursor: pointer;
                        }
                        &.slick-active {
                            position: relative;
                            &:after {
                                position: relative;
                                content: '';
                                left: 11.5px;
                                display: inline-block;
                                font-family: 'Ubuntu-Medium';
                                font-size: 14px;
                                line-height: 24px;
                                letter-spacing: 0.025em;
                                width: 13px;
                                height: 1px;
                                background-color: rgba(255, 255, 255, 0.55);
                                top: -2px;
                            }
                            &:last-child {
                                &:after {
                                    display: none;
                                }
                            }
                            button {
                                border-radius: 50%;
                                border: 1px solid #afafaf;
                                color: #b7b7b7;
                                @extend %default-transition;
                                cursor: pointer;
                            }
                        }
                        button {
                            width: 37px;
                            height: 37px;
                            font-family: 'Ubuntu-Medium';
                            font-size: 14px;
                            line-height: 24px;
                            letter-spacing: 0.025em;
                            border-radius: 50%;
                            border: 1px solid #171616;
                            color: #cfcece;
                            background: none;
                        }
                    }
                }
            }
        }
        /*END:slider-block-nav*/
        /*slider-block-for*/
        .slider-block-for {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @extend %height100;
            .slick-slider {
                margin-bottom: 0;
                @extend %height100;
            }
            .slick-list {
                @extend %height100;
                .slick-track {
                    @extend %height100;
                    li {
                        @extend %height100;
                    }
                }
            }
            img {
                float: right;
                @extend %height100;
            }
        }
        /*slider-block-for*/
    }
    /*END:section4*/
    /*section5*/
    
    .section5 {
        .left-col {
            width: 37%;
            .inner {
                top: 36%;
                width: 100%;
            }
        }
        .section-title {
            font-size: 70px;
            margin-bottom: 35px;
        }
        .description {
            font-size: 18px;
            line-height: 30px;
            letter-spacing: 0.025em;
            margin-bottom: 35px;
            color: #cfcece;
        }
        .contacts-block {
            .contacts-list {
                li {
                    position: relative;
                    float: left;
                    margin-right: 82px;
                    margin-bottom: 25px;
                    &:last-child {
                        margin-right: 0;
                    }
                    &:before {
                        position: relative;
                        left: 0;
                        content: '';
                        display: inline-block;
                        vertical-align: middle;
                        width: 33px;
                        height: 33px;
                        margin-right: 23px;
                    }
                    a {
                        text-decoration: none;
                        color: #cfcece;
                        background-repeat: no-repeat;
                        font-size: 18px;
                        line-height: 30px;
                        letter-spacing: 0.025em;
                    }
                }
                @each $contact in $contacts {
                    li {
                        &.#{$contact} {
                            &:before {
                                background-image: url(../img/section5/#{$contact}.png);
                            }
                        }
                    }
                }
            }
        }
    }
    /*END:section5*/

